
    <script type="text/javascript" src="/assets/js/jquery.validate.js"></script>
    <script>
    $(document).ready(function(){
    $('#signup').validate({
        rules: {
            name: "required",
            email: "email",
        
        },
        messages: {
            name: "",
            email: "",
        },
        errorContainer: $('#errorContainer'),
        errorLabelContainer: $('#errorContainer ul'),
        wrapper: 'li'
    });
      });
    </script>
      <div class="hero-unit
      signup-form-placement centered-text ">
        <form class="signup-form" name="signup" id="signup" action="/thank-you" method="POST">
          <input type="text" name="name" class="required name-entry" placeholder="First name" style="color: rgb(192, 192, 192);">
          <input type="text" name="email" class="required email email-entry" placeholder="Email address" style="color: rgb(192, 192, 192);">
          <button type="submit" class="call-to-action send" id="send">Send</button>
          <!-- <input type="hidden" name="webform_id" value="443338"/> -->
          <span class="error" style="display: none;">Alert...</span>
        </form>
        <!--<script type="text/javascript" src="https://app.getresponse.com/view_webform.js?wid=443338&mg_param1=1"></script><script type="text/javascript" src="https://app.getresponse.com/view_webform.js?wid=443338&mg_param1=1"></script> -->
        <p />
        <span class="request-invite">Lorious is in closed beta while we build. Sign up above to request an invite and we'll get you in as soon as we can.</span>
      </div>