              <form action="http://themetica.com/choco/form.php" method="POST">
                <input type="text" name="name" class="name-entry" placeholder="First name" style="color: rgb(192, 192, 192);">
                <input type="text" name="emailAdress" class="e-mail" placeholder="Email address" style="color: rgb(192, 192, 192);">
                <button type="submit" class="call-to-action send" id="send">Send</button>
                <span class="error" style="display: none;">Alert...</span>
              </form>