<!DOCTYPE html>
<html>
  <head>
    <title><%= SITE_TITLE + ' > ' + @title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps|Copse|Roboto:900,900italic,400italic,400|Quando' rel='stylesheet' type='text/css'>
    
    <!-- Reset -->
    <link href="/assets/css/reset.css" rel="stylesheet">  

    <!-- Bootstrap -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/assets/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
  
    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

    <!-- Custom Styles -->  
    <link href="/assets/css/styles.css" rel="stylesheet">

    <!-- Sticky Footer -->

      <style type="text/css">

      /* Set the fixed height of the footer here */

      #footer {
         background-color: rgba(0, 0, 0, 0.80);
         color:#999;
      }


    </style>

  </head>
  <body>
   <div class="container">
    <section id="social">
      <ul>
        <li><a href="https://twitter.com/TeamLorious" target="_blank" class="twitter">twitter</a></li>
        <!--<li><a href="" class="facebook">facebook</a></li>
        <li><a href="" class="tumblr">tumblr</a></li>
        <li><a href="" class="google">google+</a></li>
        <li><a href="" class="dribbble">dribbble</a></li>
        <li><a href="" class="linkedin">linkedin</a></li>
        <li><a href="" class="youtube">youtube</a></li>
        <li><a href="" class="pinterest">pinterest</a></li>
        <li><a href="" class="flicker">flicker</a></li> //-->
      </ul>
    </section>
    <div class="hero-unit">
      <div class="logo-text centered-text logo-placement">lorious</div>
      <div class="overview-info centered-text overview-info-placement">
        <span>
          Lorious is an online marketplace where users can buy and sell expertise and knowledge. It empowers people like you to gain skills, from crafting to accounting, and take ownership of their professional identities
          and helps users like you grow, succeed and navigate this ever-changing economy.
        </span>
      </div>
    </div>
   


    <script type="text/javascript" src="/assets/js/jquery.validate.js"></script>
    <script>
    $(document).ready(function(){
    $('#signup').validate({
        rules: {
            name: "required",
            email: "email",
        
        },
        messages: {
            name: "",
            email: "",
        },
        errorContainer: $('#errorContainer'),
        errorLabelContainer: $('#errorContainer ul'),
        wrapper: 'li'
    });
      });
    </script>
      <div class="hero-unit
      signup-form-placement centered-text ">
        <form class="signup-form" name="signup" id="signup" action="https://app.getresponse.com/add_contact_webform.html" method="POST">
          <input type="text" name="name" class="required name-entry" placeholder="First name" style="color: rgb(192, 192, 192);">
          <input type="text" name="email" class="required email email-entry" placeholder="Email address" style="color: rgb(192, 192, 192);">
          <button type="submit" class="call-to-action send" id="send">Send</button>
          <input type="hidden" name="webform_id" value="443338"/>
          <span class="error" style="display: none;">Alert...</span>
        </form>
        <script type="text/javascript" src="https://app.getresponse.com/view_webform.js?wid=443338&mg_param1=1"></script><script type="text/javascript" src="https://app.getresponse.com/view_webform.js?wid=443338&mg_param1=1"></script>
        <p />
        <span class="request-invite">Lorious is in closed beta while we build. Sign up above to request an invite and we'll get you in as soon as we can.</span>
      </div>
   <!-- <div class="row">
      <div class="span4">
        <img class="details" src="/assets/img/confused man.jpg">
        <p />
        Empower yourself to learn more, do more, <em>be more.</em>
        <p />
        Join Lorious to find answers, improve yourself or even make a living.
      </div>
      <div class="span4">
        <img class="details" src="/assets/img/snorkeling.jpg">
        <p />
        Empower yourself to learn more, do more, <em>be more.</em>
        <p />
        Join Lorious to find answers, improve yourself or even make a living.
      </div>
      <div class="span4">
        <img class="details" src="/assets/img/dog.jpg">
        <p />
        Empower yourself to learn more, do more, <em>be more.</em>
        <p />
        Join Lorious to find answers, improve yourself or even make a living.
      </div>
    </div> 

    <div class="row">
      <div class="span4">
        <img class="details" src="/assets/img/confused man.jpg">
        <p />
        Empower yourself to learn more, do more, <em>be more.</em>
        <p />
        Join Lorious to find answers, improve yourself or even make a living.
      </div>
      <div class="span4">
        <img class="details" src="/assets/img/snorkeling.jpg">
        <p />
        Empower yourself to learn more, do more, <em>be more.</em>
        <p />
        Join Lorious to find answers, improve yourself or even make a living.
      </div>
      <div class="span4">
        <img class="details" src="/assets/img/dog.jpg">
        <p />
        Empower yourself to learn more, do more, <em>be more.</em>
        <p />
        Join Lorious to find answers, improve yourself or even make a living.
      </div>
    </div> -->

  </div>

  </body>
</html>