<!DOCTYPE html>
<html lang="en" style="">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title><%= @title + ' | ' + SITE_TITLE %></title>  
  <!--TO DO:  add meta tags -->
  <meta name="description" content="">
 
 <!-- <link href="/assets/css/all.less.css" rel="stylesheet/less">  //-->
  <link href="/assets/css/reset.css" rel="stylesheet">  
  <link href="/assets/css/styles.css" rel="stylesheet">  
  <!--JQUERY -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

  <!-- SuperSized JS -->
<script type="text/javascript" src="/assets/js/supersized.core.3.2.1.min.js"></script>
  <link rel="stylesheet" href="/assets/css/supersized.core.css" type="text/css" media="screen" />


    <script type="text/javascript">
      
      jQuery(function($){
        
        $.supersized({
          slides  :   [ {image : '/assets/img/background.jpg', title : 'Lorious'} ]
        });
        });
        
    </script>

</head>  
<body>  
 <!-- <header>  
    <hgroup>  
      <h1><a href="/"><%= SITE_TITLE %></a></h1>  
      <h2><%= SITE_DESCRIPTION %></h2>  
    </hgroup>  
  </header> //-->

  <section id="social">
      <ul>
        <li><a href="" class="twitter">twitter</a></li>
        <!--<li><a href="" class="facebook">facebook</a></li>
        <li><a href="" class="tumblr">tumblr</a></li>
        <li><a href="" class="google">google+</a></li>
        <li><a href="" class="dribbble">dribbble</a></li>
        <li><a href="" class="linkedin">linkedin</a></li>
        <li><a href="" class="youtube">youtube</a></li>
        <li><a href="" class="pinterest">pinterest</a></li>
        <li><a href="" class="flicker">flicker</a></li> //-->
      </ul>
    </section>

    <section id="landing" class="section-0" style="height: 500px;">
      <div class="under-construction">
        <div class="logo-bg">
          
        </div>
        <span> </span>
        <span> </span>
        <h6>Lorious is in private beta while we build our community. Request an invite to join.</h6>
               
        <%= yield %>

</div>
    </section>
    <section id="details-block" class="section-1" style="height: 700px; top: 500px;">
      <div class="details-block-bg">
      </div>
    </section>






</body>
</html>

  