            <div class="centered-text">
              <span class="confirmation-text">Thank you for signing up! Please check your inbox for a confirmation message and watch out for updates from us soon!&nbsp;</span>
            <h3><% # @name %> <% # @email %></h3>
            </div>