/* === Bootstrap Custom === */
.hero-unit {
  background-color: rgba(0, 0, 0, 0); // use rgba and set Opacity to 0 for transparent.
  margin-bottom:0px;
  padding-bottom:0px;
  padding-top:0px;
  margin-top:0px;
 }
input[type=text] {
  border: 10px solid rgba(204, 204, 204, 0.5);
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  color: #ccc;
  float: left;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

input[type=text].error {
  text-align: left;
  border: 10px solid rgba(255, 0, 0, 0.5);
}

body { 
  background: url(/assets/img/background.jpg) no-repeat 0 0 fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}

/* === End Bootstrap Custom === */

/* === Social === */
#social {
  width: 288px;
  position: fixed;
  right: 8px;
  top: 10px;
  z-index: 1000;
}
#social ul li {
  float: right;
  width: 30px;
  height: 30px;
  display: block;
  margin-right: 2px;
}
#social ul li a {
  width: 100%;
  height: 100%;
  display: block;
  text-indent: -9999em;
}
#social ul li a.twitter {
  background: url(/assets/img/social-icons.png) 0 0 transparent no-repeat;
}
#social ul li a.facebook {
  background: url(/assets/img/social-icons.png) -32px 0 transparent no-repeat;
}
#social ul li a.tumblr {
  background: url(/assets/img/social-icons.png) -64px 0 transparent no-repeat;
}
#social ul li a.google {
  background: url(/assets/img/social-icons.png) -96px 0 transparent no-repeat;
}
#social ul li a.dribbble {
  background: url(/assets/img/social-icons.png) -128px 0 transparent no-repeat;
}
#social ul li a.linkedin {
  background: url(/assets/img/social-icons.png) -160px 0 transparent no-repeat;
}
#social ul li a.youtube {
  background: url(/assets/img/social-icons.png) -192px 0 transparent no-repeat;
}
#social ul li a.pinterest {
  background: url(/assets/img/social-icons.png) -224px 0 transparent no-repeat;
}
#social ul li a.flicker {
  background: url(/assets/img/social-icons.png) -256px 0 transparent no-repeat;
}
#social ul li a.twitter:hover {
  background: url(/assets/img/social-icons.png) 0 -30px #3366cc no-repeat;
}
#social ul li a.facebook:hover {
  background: url(/assets/img/social-icons.png) -32px -30px #3366cc no-repeat;
}
#social ul li a.tumblr:hover {
  background: url(/assets/img/social-icons.png) -64px -30px #3366cc no-repeat;
}
#social ul li a.google:hover {
  background: url(/assets/img/social-icons.png) -96px -30px #3366cc no-repeat;
}
#social ul li a.dribbble:hover {
  background: url(/assets/img/social-icons.png) -128px -30px #3366cc no-repeat;
}
#social ul li a.linkedin:hover {
  background: url(/assets/img/social-icons.png) -160px -30px #3366cc no-repeat;
}
#social ul li a.youtube:hover {
  background: url(/assets/img/social-icons.png) -192px -30px #3366cc no-repeat;
}
#social ul li a.pinterest:hover {
  background: url(/assets/img/social-icons.png) -224px -30px #3366cc no-repeat;
}
#social ul li a.flicker:hover {
  background: url(/assets/img/social-icons.png) -256px -30px #3366cc no-repeat;
}
/* === End Social === */

/* === Alignment === */
.centered-text {
    text-align:center
}    
/* === End Alignment === */

/* === Logo === */
.logo-text {
  font-family: 'Oleo Script Swash Caps', cursive;
  color: rgba(51, 102, 204, 0.7);
  font-size: 80px;
}

.logo-placement {
  margin-top: 15%;
}
/* === End Logo === */

/* === Info === */

.overview-info-placement {
  margin-top: 5%;
}
.overview-info {
  font-family: 'Copse', serif;
  font-style:none;
  color: #fff;
  font-size: 18px;

}
.overview-request-invite {
  font-family: 'Roboto', sans-serif;
  font-style:italic;
  color: rgb(129, 129, 129);
  font-size: 16px;
  display: inline-block;
}
/* === End Info === */
/* === Signup Form === */
.signup-form-placement {
  margin-top: 1%;
}
.signup-form {
  line-height: 1;
  color: #fff;
  padding: 0px;
  margin: 0px;
  display: inline-block;
  width:600px
  text-align: center;
}
.email-entry {
  border: 10px solid rgba(204, 204, 204, 0.5);
  margin: 10px;
  padding: 10px;
  width: 170px;
  font-size: 14px;
  color: #ccc;
  float: left;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.email-entry:focus {
  border-color: #3366cc;
  outline: none medium;
}
.name-entry {
  border: 10px solid rgba(204, 204, 204, 0.5);
  margin: 10px;
  padding: 10px;
  width: 85px;
  font-size: 14px;
  color: #ccc;
  float: left;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.name-entry:focus {
  border-color: #3366cc;
  outline: none medium;
}
.send {
  border: 1px solid rgba(252,252,252, 0.5);
  background-color: #3366cc;
  color: #fff;
  font-size: 14px;
  margin: 10px;
  padding: 0px;
  height: 58px;
  width: 75px;
  line-height: 0px;
  float: left;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.send:active {
  opacity: 0.8;
}

.error {
  text-align: left;
  border: 10px solid rgba(255, 0, 0, 0.5);
}

#errorContainer {
    display: none;
    overflow: auto;
    background-color: #FFDDDD;
    border: 1px solid #FF2323;
    padding-top: 0;
}
 
#errorContainer label {
    float: none;
    width: auto;
}

.request-invite {
  font-family: 'Roboto', sans-serif;
  font-style:italic;
  color: rgb(129, 129, 129);
  font-size: 16px;
  display: inline-block;
}
.call-to-action {
  display: block;
  background-color: #3366cc;
  color: #fff;
  text-decoration: none;
  line-height: 45px;
  margin-top: 10px;
}
.call-to-action:hover {
  color: #000;
}
/* === End Signup Form === */

/* === Details Block === */
.user-details-block {
  width: 100%;
  left:0px;
  position:absolute;
  margin-top:10px;
  padding: 0px;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.62);
  color:#fff;
  text-align: center;
}

.expert-details-block {
  width: 100%;
  position: absolute;
  left:0px;
  margin-left:0px;
  margin-top:10px;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.80);
  color:#fff;
}

img.details {
  border: 10px solid rgba(0, 0, 0, 0.5);
  width: 170px;
}
/* === End Details Block === */

/* === Confirmation Pages === */
.confirmation-text {
  font-family: 'Copse', serif; 
  font-size:18px;color:#fff;
  background-color:#3366cc;
  font-style:italic;
  line-height:1.5;
  display:inline;
  text-align: center;
}
/* === End Confirmation Pages === */